{% extends 'header.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <section class="mt-5">
            <input class="form-control col-md-6 mx-auto" id="myInput" type="text" placeholder="Search...">
            <br>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                </tr>
                </thead>
                <tbody id="contactTable">
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.firstname }}</td>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#contactTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}