{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">BDE STMN</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('publications') }}"><i class="fas fa-home"></i> Publications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contacts') }}"><i class="fas fa-address-book"></i> Contacts</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('dashboard') }}"><i class="fas fa-columns"></i> Admin dashboard</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="nav-item">
                    <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}