{% extends 'header.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <section class="mt-5">
            <div class="col-md-6 mx-auto">
                {% if error_message is defined %}
                    <div class="alert alert-{{ error_class }} text-center">{{ error_message }}</div>
                {% elseif success_message is defined %}
                    <div class="alert alert-{{ success_class }} text-center">{{ success_message }}</div>
                {% endif %}
                <h1>{{ record.label }}</h1>
                <p class="lead">Publication date : {{ record.datePublication|date('d/m/Y') }}</p>
                {% if record.image %}
                    <img src="{{ asset('images/publications/' ~ record.image) }}" alt="Image not loaded.">
                {% endif %}
                <p class="lead">{{ record.description }}</p>
                {% if type == 'event' %}
                    <p class="lead">Event date : {{ record.eventDate|date('d/m/Y') }}</p>
                    <p class="lead">Place : {{ record.place }}</p>
                {% elseif type == 'project' %}
                    <p class="lead">End date : {{ record.endDate|date('d/m/Y') }}</p>
                    <ul>
                        {% for participant in record.guests %}
                            <li class="lead">{{ participant.name }} {{ participant.firstname }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form_start(form) }}
                    <div class="form-group">
                        <fieldset disabled>
                            <div class="form-group">
                                {{ form_widget(form.id, {'attr': {'class': 'form-control invisible', 'value': record.id}}) }}
                            </div>
                        </fieldset>
                        {% if type == 'event' %}
                            <div class="form-group">
                                {{ form_label(form.nb_persons, 'Number of persons') }}
                                {{ form_widget(form.nb_persons, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="button-group" role="group">
                                {{ form_widget(form.yes, {'attr': {'class': 'btn btn-success'}}) }}
                                {{ form_widget(form.no, {'attr': {'class': 'btn btn-danger'}}) }}
                            </div>
                        {% elseif type == 'project' %}
                            <div class="form-group">
                                {{ form_widget(form.participe, {'attr': {'class': 'btn btn-success'}}) }}
                            </div>
                        {% endif %}
                    </div>
                {{ form_end(form) }}
            </div>
        </section>
    </div>
{% endblock %}